@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*@import "https://unpkg.com/open-props";*/

/* *** Tag *** */
body {
    font-family: "Courier Prime", monospace;
    font-size: 1.5vw;
    font-weight: 400;
    font-style: normal;
    color: cornsilk;
    background-color: #04090b;
}
p {
    margin-top: 0.1vh;
}
a {
    color: cornsilk;
    font-style: bold;
}
svg {
    min-width: 2vw;
    min-height: 2vh;
    fill: cornsilk;
    padding: 0px;
}
h1 {
    font-family: "Inter", sans-serif;
    font-size: 8vw;
    font-optical-sizing: auto;
    font-weight: 900;
    margin: 0;
}
h2 {
    font-family: "Inter", sans-serif;
    font-size: 4vw;
    font-optical-sizing: auto;
    font-weight: 900;
    margin: 0;
    padding-bottom: 2vh;
}
h3 {
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-optical-sizing: auto;
    font-weight: 900;
    margin: 0;
}
dd {
    font-family: "Inter", sans-serif;
    font-size: 2vw;
    font-optical-sizing: auto;
    font-weight: 900;
    margin: 0;
}
figcaption {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 0vh;
}
figcaption p {
    margin-top: 0px;
    padding-left: 0.35vw;
}
footer {
    display: flex;
    flex-direction: column; /* Affianca gli elementi (landscape mode) */
    align-items: center; /* Allinea verticalmente al centro */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    gap: 1vh; /* Spaziatura tra i due elementi */
    padding: 5vh 5vw 1vh 5vw;
    background-color: #1f444c;
}
footer p {
    font-size: 1vw;
}

/* *** ID *** */
#propic {
    width: 12vw;
    min-width: 20%;
    border-radius: 50%;
    border-color: cornsilk;
    border-style: solid;
    border-width: 3px;
    padding: 4px;
}
#name {
    font-style: normal;
    margin-bottom: 0.1vh;
    margin-top: 0.1vw;
}
#whoami {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 0vh;
}
#esperienza {
    flex-direction: row;
    align-items:flex-start;
    justify-content:center;
    gap: 3vh;
}
#separator {
    background-color: #315f69;
    width: 6vw;
    height: auto;
    margin-right: 5vw;
}
#hooks{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#hooks a {
    padding: 0px;
    margin: 0px;
}
/* *** Classi *** */
.container {
    display: flex;
    flex-direction: row; /* Affianca gli elementi (landscape mode) */
    align-items: center; /* Allinea verticalmente al centro */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    gap: 3vw; /* Spaziatura tra i due elementi */
    padding: 5vw;
    margin: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #1f444c;
    border-radius: 10px;
}
#socials {
    display: flex;
    gap: 1vw;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content:space-around;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 0vh 5vw 0vh 5vw;
}
#socials article {
    display: flex;
    flex: 1; /*fa sì che gli elementi all'interno di un container flex abbiano stessa larghezza*/
    min-width: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0px;
    border-radius: 10px;

}


/* Modalità Portrait */
@media (max-width: 767px) {
    .container {
      flex-direction: column; /* Posiziona gli elementi uno sopra l'altro */
      gap: 2vw;
      margin-left: 1vw;
      margin-right: 1vw;
    }
    p {
        font-size: 6vw;
        margin-top: 1vh;
    }
    footer p {
        font-size: 4vw;
    }
    #propic {
        width: 30vw;
    }
    #name {
        font-size: 12vw;
    }
    #esperienza {
        flex-direction: column;
        gap: 2vw;
    }
    #separator {
        display: none;
    }
    #socials {
        flex-direction: column;
        padding: 1vw;
        gap: 2vh;
    }
    #socials h3 {
        font-size: 10vw;
    }
    svg {
        min-width: 4vw;
        min-height: 4vh;
    }

    h2 {
        font-size: 10vw;
    }
    dd {
        font-size: 8vw;
    }
  }